.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

span {
  font-size: 16px;
  font-weight: bold;
}

/* Styles for tablet */
@media (max-width: 768px) {
  .navigation {
    justify-content: center;
  }

  button {
    padding: 10px 15px;
  }
}

/* Styles for mobile */
@media (max-width: 480px) {
  .navigation {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  button {
    padding: 10px 10px;
  }
}
